* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 16px;
  font-family: "Red Hat Display";
  background: url(./images/pattern-background-desktop.svg);
  background-color: hsl(225, 100%, 94%);
  background-repeat: no-repeat;
  background-size: contain;
}
